@model WebEscuelaMVC.Models.Aula

@{
    ViewData["Title"] = "Details Aula";
}
    <h2>Ver Detalle Aula</h2>
    @Html.ActionLink("Volver a index", "Index", "Aula")

    <p>
        @Html.DisplayNameFor(model => model.Numero)
        @Html.DisplayFor(model => model.Numero)
    </p>

    <p>
        @Html.DisplayNameFor(model => model.Estado)
        @Html.DisplayFor(model => model.Estado)
    </p>