@model IEnumerable<WebEscuelaMVC.Models.Aula>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Nuevo", "Register", "Aula")

    <h1>Lista de Aulas</h1>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Numero)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado)</td>

                    <td>
                    @Html.ActionLink("Detalle", "Detalle", "Aula", new{id = item.Id})
                    @Html.ActionLink("Eliminar", "Delete", "Aula", new{id = item.Id})
                    @Html.ActionLink("Editar", "Edit", "Aula", new{id = item.Id})
                    </td>
                </tr>

        }
    </table>
</body>
</html>