@model WebEscuelaMVC.Models.Aula

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Agregar aula</h1>

    @using (Html.BeginForm("Register", "Aula", FormMethod.Post))
    {
            <p>
            @Html.LabelFor(model => model.Numero)
            @Html.TextBoxFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
            </p>

            <p>
            @Html.LabelFor(model => model.Estado)
            @Html.TextBoxFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
            </p>



            <input type="submit" action="Create" />

        @Html.ActionLink("Volver a ver aulas", "Index", "Aula")

    }

</body>
</html>