@model SLNClinica.Models.Medico;


@{
    ViewData["Title"] = "Create";
}


    <h2>Ingrese un nuevo médico</h2>

    @using (Html.BeginForm("Create", "Medico", FormMethod.Post))
    {
                <h1>
            @Html.LabelFor(model=>model.Nombre)
            @Html.TextBoxFor(model=>model.Nombre)
            @Html.ValidationMessageFor(model=>model.Nombre)
                </h1>
                 <h1>
            @Html.LabelFor(model=>model.Apellido)
            @Html.TextBoxFor(model=>model.Apellido)
            @Html.ValidationMessageFor(model=>model.Apellido)
                </h1>
                 <h1>
            @Html.LabelFor(model=>model.Matricula)
            @Html.TextBoxFor(model=>model.Matricula)
            @Html.ValidationMessageFor(model=>model.Matricula)
                </h1>

                <input type="submit"  action="Create" />

        @Html.ActionLink("Volver a Index", "Index", "Medico")
    }
