@model SLNClinica.Models.Medico;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h2>Editar médico</h2>

    @using (Html.BeginForm("Edit", "Medico", FormMethod.Post))
    {
                    <p>
            @Html.LabelFor(model=>model.Nombre)
            @Html.TextBoxFor(model=>model.Nombre)
            @Html.ValidationMessageFor(model=>model.Nombre)
                    </p>
                     <p>
            @Html.LabelFor(model=>model.Apellido)
            @Html.TextBoxFor(model=>model.Apellido)
            @Html.ValidationMessageFor(model=>model.Apellido)
                    </p>
                     <p>
            @Html.LabelFor(model=>model.Matricula)
            @Html.TextBoxFor(model=>model.Matricula)
            @Html.ValidationMessageFor(model=>model.Matricula)
                    </p>

                    <input type="submit"  action="Edit" />

        @Html.ActionLink("Volver a Index", "Index", "Medico")
    }
</body>
</html>
